name: build

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v6

      - name: Run Swift package tests
        run: swift test